/* fontcolor DBDDDC */
/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; */
* {
    padding: 0;
    margin: 0;
}


body {
    background: rgb(2,109,81);
    background: linear-gradient(180deg, rgba(2,109,81,1) 0%, rgba(255,255,255,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1 {
    font-family: 'Raleway', sans-serif;
  color: #dbdddc;
}

p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: rgb(125, 125, 125);

    /* font-size: large; */
}

button {
    font-family: 'Montserrat', sans-serif;
    color: #026D51;
    background-color: white;
    border: 1px solid #dbdddc;
    margin: 2px;
    border-radius: 3px;
    padding: .25em 1em;
    transition: .5s;
    
}


button:hover {
    color: #dbdddc;
    background-color: #026D51;
    border: 1px solid #026D51;
    transition: .5s;
    cursor: pointer;
}

.box-button {
    box-shadow: 2px 2px 4px #dbdddc;
}

.button-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 2em;
}

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding-bottom: 2em;
    /* width: 25%; */
    align-items: center;
    align-content: center;
}

.form-button { 
    margin-top: 1em;

}

input {
    padding: .5em;
    outline: 0;
    color: #DBDDDC;
    background-color: transparent;
    border-width: 0 0 2px;
    border-color: #DBDDDC;
}
input::placeholder {
    color: #DBDDDC;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    
}

.edit-input {
    padding: .5em;
    outline: 0;
    color: rgb(125, 125, 125);

    background-color: transparent;
    border-width: 0 0 2px;
    border-color: rgb(125, 125, 125);
    
}